.productDescription {
  width: 100%;
  margin: 0 0 0 0;
}
.productDescription .title {
  font: 1.5em "Oswald";
  width: 98%;
  border-bottom: 1px solid #303030;
  padding-bottom: 0.6em;
  font-weight: 400;
  color: #303030;
}
.productDescription .description {
  font: 1.05em "Open Sans";
  white-space: pre-line;
  line-height: 1.7em;
  font-weight: 400;
  color: #131313;
}
@media screen and (max-width: 767px) {
  .productDescription .description {
    font: 1em "Open Sans";
    line-height: 1.35em;
  }
}