.productTile {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 1em;
}
.sale {
  border-left: 4px solid red;
}
.productTile a img {
  display: inline-block;
  width: 11.25em;
  height: 14.875em;
  margin-left: 0.1em;
}
.productTile h3 {
  display: inline-block;
  margin-top: 0;
  max-width: 23em;
  font: 1.125em "Open Sans";
  font-weight: 600;
  color: #444444;
}
.productTile form {
  display: inline-block;
  position: relative;
  width: 36.9em;
  height: 100%;
  vertical-align: top;
  margin: 0 0 0 1em;
  padding-top: 1em;
}
.productTile form > p {
  min-height: 4em;
}
.productTile form img {
  float: right;
  max-width: 8.45em;
  max-height: 7.5em;
}
.productTile p {
  max-width: 30.78em;
  word-wrap: break-word;
  white-space: pre-wrap;
  font: 0.875em "Open Sans";
  font-weight: 300;
}
.productTile .bottomElement {
  margin-top: 2.5em;
  vertical-align: bottom;
  padding-bottom: 1em;
  text-align: right;
}
.productTile button {
  padding: 0 1.5em;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 2px;
  outline: none;
  background-color: #fffefe;
  font: 1.3125em "Oswald";
}
.productTile button:hover {
  color: #08a8b0;
  border: 1px solid #08a8b0;
}
.productTile .bottomElement .linkToCart {
  display: inline-block;
  padding: 0.18em 1em;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 2px;
  outline: none;
  background-color: #fffefe;
  color: black;
  font: 1.1em "Oswald";
}
.productTile .bottomElement .linkToCart:hover {
  color: #08a8b0;
  border: 1px solid #08a8b0;
}
@media screen and (max-width: 1199px) {
  .productTile form {
    width: 35em;
  }
}
@media screen and (max-width: 991px) {
  .productTile a img {
    width: 9.9376em;
    height: 12.8125em;
  }
  .productTile form {
    width: 27.1em;
  }
  .sale form {
    width: 26.8em;
  }
  .productTile form > img {
    display: none;
  }
  .productTile .bottomElement {
    margin-right: 1.2em;
  }
}
@media screen and (max-width: 767px) {
  .productTile {
    display: flex;
    min-height: 14em;
    position: relative;
  }
  .productTile a img {
    width: 8.9376em;
    height: 11.8125em;
    margin: 0.7em;
  }
  .productTile h3 {
    width: 100%;
    font-size: 1em;
  }
  .productTile form {
    width: 100%;
    margin: 0 1em 0 0;
    float: right;
  }
  .productTile .bottomElement {
    width: 100%;
    margin-top: 8em;
    vertical-align: bottom;
  }
  .colorRadio {
    left: -9em;
    bottom: 1em;
  }
  .colorRadio p {
    font-size: 1em;
  }
  .colorRadio span{
    position: relative;
    left: 0;
    width: 1.55em;
    height: 1.55em;
  }
  .colorRadio input[type=radio]:checked + span:after{
    position: absolute;
    z-index: 5;
    font-size: 1.5em;
    top: -0.02em;
    left: 0.12em;
    content: '\2714';
    color: white;
  }
  .productTile button {
    margin: 0.3em 0 0 0;
  }
  .productTile .bottomElement .linkToCart {
    margin-top: 0.3em;
    white-space: nowrap;
  }
  .productTile form > p {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .productTile .bottomElement {
    margin-top: 5em;
  }
  .productTile a img {
    width: 6.9376em;
    height: 7.8125em;
  }
  .colorRadio {
    left: -8em;
    bottom: 1em;
  }
}
