.productCard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4.8em;
  flex-direction: row;
  justify-content: space-between;
}
.productCard .title {
  position: absolute;
  top: 0;
  margin-left: 1em;
  padding-bottom: 0.6em;
  width: 95%;
  border-bottom: 1px solid #303030;
  font: 1.5em 'Open Sans';
  font-weight: 400;
  color: #303030;
}