.navMenu {
  width: 15em;
  margin-top: 5.5em;
}
.navMenu h2 {
  font: 1.25em "Open Sans";
  font-weight: 600;
  margin-left: 1em;
}
.navMenu > div {
  margin-bottom: 1em;
}
.navMenu > div a:first-child {
  width: 12.5em;
}
.navMenu a {
  position: relative;
  display: inline-block;
  font: 1.125em "Open Sans";
  font-weight: 300;
  color: #484848;
  padding-left: 1em;
}
.navMenu a p {
  position: absolute;
  display: inline-block;
  margin: 0.3em 0 0 0.3em;
  font-size: 0.77em;
  color: #9c9c9c;
}
.navMenu .childCategory {
  display: block;
  font: 1em "Open Sans";
  font-weight: 300;
  padding-left: 2em;
}
.navMenu .active {
  font-weight: 600;
}
.navMenu .active {
  background-image: url("assets/arrow.svg");
  background-repeat: no-repeat;
  background-size: 0.9em 0.9em;
  background-position: 0em center;
}
.navMenu .childCategory.active {
  background-position: 1em center;
}
@media screen and (max-width: 991px) {
  .navMenu {
    width: 12em;
  }
}
@media screen and (max-width: 767px) {
  .navMenu {
    display: none;
  }
}
