.overlay {
  position: fixed;
  top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  z-index: 20;
	background-color: rgba(0, 0, 0, 0.7);
}
.checkOutForm {
  position: fixed;
  z-index: 25;
  background-color: white;
  width: 28.125em;
  min-width: 320px;
  padding: 0 1.5em;
  border: 1px solid #bababa;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkOutForm .close {
  position: absolute;
  right: 1em;
  top: 1em;
  height: 1.1em;
  max-height: 100%;
  width: 1.1em;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("assets/close.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.checkOutForm h4 {
  text-align: center;
  margin: 1em 0;
  font: 1.4em "Open Sans";
  font-weight: 400;
}
.line {
  width: 100%;
  margin: 0.4em auto;
  height: 1px;
  background-color: #d1d1d1;
}
.checkOutForm .textInput {
  position: relative;
  height: 2.2em;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  margin: 0.5em 0;
  border: 1px solid #ededed;
  border-radius: 4px;
  font: 0.85em "Open Sans";
  font-weight: 400;
  color: #2e2d2d;
}
.checkOutForm .textArea {
  height: 7em;
}
.checkOutForm .textInput:focus {
  border: 1px solid #08a8b0;
  border-radius: 4px;
}
.checkOutForm .textInput::placeholder {
  font: 0.85em "Open Sans";
  font-weight: 400;
  color: #898989;
}
.checkOutForm .inputGroup {
  position: relative;
}
.checkOutForm .animatedValid input {
  border: 1px solid #00a007;
}
.checkOutForm .animatedValid:before {
  position: absolute;
  z-index: 11;
  right: 0.6em;
  top: 0.9em;
  content: "";
  width: 0.9em;
  height: 0.9em;
  background-image: url("assets/check.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.checkOutForm .animatedError input {
  border: 1px solid red;
}
.checkOutForm .animatedError:before {
  position: absolute;
  z-index: 11;
  right: 0.6em;
  top: 0.9em;
  content: "";
  width: 0.9em;
  height: 0.9em;
  background-image: url("assets/attention.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.checkOutForm input:focus {
  z-index: 12;
  background-color: white;
}
.inputFeedBack {
  font: 0.5625em "Open Sans";
  color: #ff3030;
}
.submit {
  font: 1.2em "Open Sans";
  font-weight: 400;
  float: right;
  width: 8.16em;
  height: 1.8em;
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: 0.1em;
  background-color: #08a8b0;
  color: white;
  border: none;
  border-radius: 2px;
}
.submit:hover {
  background-color: white;
  border: 1px solid #08a8b0;
  color: #08a8b0;
  cursor: pointer;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media screen and (max-width: 767px) {
  .overlay {
    overflow-y: scroll;
    background-color: white;
  }
  .checkOutForm {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .checkOutForm .textInput {
    position: relative;
    height: 2.5em;
    width: 100%;
    font-size: 1em;
  }
  .checkOutForm .close {
    width: 1.6em;
    height: 1.6em;
    top: 1.5em;
    right: 1.4em;
  }
  .checkOutForm h4 {
    font-size: 1.3em;
  }
  .checkOutForm .textArea {
    height: 6em;
  }
  .inputFeedBack {
    font-size: 0.8em;
  }
  .inputFeedBack {
    text-align: left;
  }
  .checkOutForm .animatedValid:before {
    right: 0.8em;
    top: 1.2em;
    width: 1em;
    height: 1em;
  }
  .checkOutForm .animatedError:before {
    right: 0.8em;
    top: 1.2em;
    width: 1em;
    height: 1em;
  }
  .submit {
    display: inline-block;
    float: none;
    width: 10em;
    height: 2em;
    margin-top: 1.5em;
  }
}
