.productForm {
  display: flex;
  position: relative;
  margin-left: 0.5em;
  flex-direction: column;
  flex-grow: 2;
}
.productForm .colorRadio p{
  text-align: start;
  margin-left: 0.3em;
}
.productForm .sendProduct {
  position: absolute;
  right: 0;
  bottom: 1em;
}
.productForm button {
  width: 8.72em;
  margin: 2em 1em 0 0;
  padding: 0.05em 0.2em;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 2px;
  outline: none;
  background-color: #fffefe;
  font: 1.3125em 'Oswald';
}
.productForm button:hover {
  color: #08a8b0;
  border: 1px solid #08a8b0;
}