.productForm{
  display: flex;
  position: relative;
  margin-left: 1em;
  flex-direction: column;
  flex-grow: 2;
}
.specification {
  font: 0.95em "Open Sans";
  display: inline-block;
  max-width: 30em;
  white-space: pre-wrap;
}
.productForm .colorRadio p{
  text-align: start;
  margin-left: 0.3em;
}
.productForm .sendProduct {
  position: absolute;
  right: 0;
  bottom: 1em;
}
.productForm button {
  width: 8.72em;
  margin: 2em 1em 0 0;
  padding: 0.05em 0.2em;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 2px;
  outline: none;
  background-color: #fffefe;
  font: 1.3125em 'Oswald';
}
.productForm button:hover {
  color: #08a8b0;
  border: 1px solid #08a8b0;
}
@media screen and (max-width: 768px) {
  .titleSelect {
    margin-top: 1.5em;
    font: 1em "Open Sans";
    line-height: 0.5em;
    font-weight: 400;
  }
  .productForm .colorRadio {
    position: relative;
    left: 0;
  }
  .productForm .colorRadio span{
    position: relative;
    left: 0;
    width: 2em;
    height: 2em;
  }
  .productForm .colorRadio input[type=radio]:checked + span:after{
    position: absolute;
    z-index: 10;
    font-size: 1.65em;
    top: 0.08em;
    left: 0.19em;
    content: '\2714';
    color: white;
  }
  .productForm .sendProduct {
    position: relative;
    width: 100%;
    margin-bottom: 1.5em;
  }
  .productForm .sendProduct button{
    position: absolute;
    right: 0;
    margin-right: 0;
  }
  .productForm .priceBox {
    position: relative;
    left: 0;
    top: 2em;
    text-align: start;
  }
  .productForm .priceBox p{
    text-align: start;
  }
  
  .productForm .sendProduct .sale{
    top: 1.4em;
    height: 1.85em;
    text-align: start;
  }
  .productForm .sendProduct .sale span{
    left: 0;
    bottom: 1.1em;
  }
}