.cartPage {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productList {
  flex-grow: 2;
}
@media screen and (max-width: 767px) {
  .cartPage {
    margin-top: 5em;
    flex-direction: column;
  }
  .line {
    width: 100%;
    margin-bottom: 3em;
    border-bottom: 2px solid #c6c6c6;
  }
}