.productCount {
  margin-left: 1em;
  position: absolute;
  right: 0.75em;
  top: 4em;
}
.productCount button{
  display: inline-block;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #303030;
}
.productCount p {
  display: inline-block;
  margin: 0 0.3em;
  font-size: 1em;
  color: #303030;
}