.mobile {
  display: flex;
  width: 1200px;
}
@media screen and (max-width: 767px) {
  .mobile {
    background-color: #08a8b0;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.23);
    width: 540px;
    min-width: 320px;
    position: fixed;
    display: flex;
    z-index: 10;
  }
}
@media screen and (max-width: 575px){
  .mobile {
    width: 100%;
  }
}