.customRadio input[type=radio] {
  display: none;
}
.customRadio span {
  position: relative;
  content: '';
  display: inline-block;
  width: 1.185em;
  height: 1.185em;
  border-radius: 3px;
  margin-left: 0.3em;
  cursor: pointer;
}
.customRadio:first-child span {
  margin-left: 0;
}
.customRadio input[type=radio]:checked + span:after{
  position: absolute;
  z-index: 3;
  top: 0.1em;
  left: 0.2em;
  content: '\2714';
  color: white;
}